<!DOCTYPE html>
<html>
<head>
  <title>Immortal Shell</title>
  <%= javascript_include_tag 'default', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag  '//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css' %>
  <%= stylesheet_link_tag    'default', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag  '//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js' %>
  <%= csrf_meta_tags %>
</head>
<body>

<ul>
  <li><a href="/">Home</a></li>
  <li><a href="/students">Students</a></li>
  <li><a href="/courses">Courses</a></li>
  <li><a href="/enrolls">Enrolls</a></li>
  <li><a href="/histogram">Histogram</a></li>
</ul>


<%= yield %>

</body>
</html>
